
{% extends 'base.html' %} 
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-7 card mb-4  mt-3 left  top">
      <div class="card-body">
        
        <h1> About Us! </h1>
        <p> Somos Agus y Ailin, estudiantes de coderhouse interesados en 
          la programación, particularmente con Python :D 
          Venimos de backgrounds muy distintos:
          Agus está terminando la carrera de contador público, y Ailín es psicóloga
          ¡Qué mix!
          Les dejamos nuestros LinkedIns para que nos conozcan más.
        </p>
        <a href="https://www.linkedin.com/in/agustintornati/" class="btn btn-secondary">LinkedIn Agus</a>
        <a href="https://www.linkedin.com/in/ailindagnino/" class="btn btn-secondary">LinkedIn Ailín</a>


      </div>
    </div>
  </div>
</div>

{% endblock content %}