{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="shadow-none card my-4">
<!--     <h5 class="card-header"> About </h5> -->
    <div class="card-body">
      <p class="card-text"> ☠️🍿Sabemos que si hay que ser exigentes con algo, es con las pelis de terror. ¿Cantidad? Muchísimas. ¿Calidad?... Lo vamos a juzgar nosotros.👻👹
        <br> Proyecto realizado para el curso de Python en Coderhouse  </p>
      <a href="add_post" class="btn btn-danger"> Agregar Post</a> <br> <br>
    </div>
  </div>
</div>

{% endblock sidebar %}