{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> ☠️🍿Sabemos que si hay que ser exigentes con algo, es con las pelis de terror. ¿Cantidad? Muchísimas. ¿Calidad?... Lo vamos a juzgar nosotros.
        Proyecto creado para la entrega del Proyecto Final del curso de Python en Coderhouse👻👹 </p>
      <a href="add_post" class="btn btn-danger"> Add Post</a>
      <a href="https://docs.google.com/presentation/d/14hUS_DSd2B_ig1pMDroe8p5fEXgQ9kjnKDX0__UwqRA/edit#slide=id.gf4d4132a8f_1_32" class="btn btn-secondary">Consignas</a>
      <a href="https://www.coderhouse.com/online/python" class="btn btn-secondary">Coderhouse - Python</a>
    </div>
  </div>
</div>

{% endblock sidebar %}