
<!--
{% extends "base.html" %}
{% block content %}
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class=" site-heading my-4 mt-3 text-black"> <center>🍿 ¡Prepará los pochoclos! 🍿 </center> </h3>
          <p class="text-dark"> <center> Reviews de pelis, series y libros de terror, para que no quieras dormir con la luz apagada </center> </p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">



    <div class="col-md-8 mt-3 left">
      {% for post in post_list %}
      <div class="shadow-none card mb-3">
        <div class="card-body">
          <h1> Perfil de usuario... </h1>
          {{ page_user }}

        </div>
      </div>
      {% endfor %}
    </div>
    {% block sidebar %} 
    {% include 'sidebar.html' %} 
    {% endblock sidebar %}
  </div>
</div>
{%endblock%}

-->